/* ===[ Global styling ]=== */

:root {
  /* Default colors */
  --primary-color: darkorchid;
  --secondary-color: linen;
  --accent-color: darkslateblue;

  /* Default fonts */
  --default-font: "Public Sans";
  --header-font: "Bungee Shade";
}

body {
  background-color: var(--secondary-color);
  color: #330000;
  font-family: var(--default-font), sans-serif;
}

h1, h2, h3 {
  font-family: var(--header-font), cursive;
  text-align: center;
}

h1 {
  color: var(--primary-color);
  padding-top: 2rem;
}

h2 { color: var(--accent-color); }

@media screen and (min-width: 601px) {
  h1 { font-size: 4em; }
  h2 { font-size: 32pt; }
  h3 { font-size: 24pt; }
}

@media screen and (max-width: 600px) {
  h1 { font-size: 14vw; }
  h2 { font-size: 10vw; }
  h3 { font-size: 7vw; }
}



/* ===[ Site navigation styling ]=== */

nav {
  position: fixed;
  overflow: hidden;
  top: -1rem; left: -3rem;  /* pins navbar to top-left corner of screen */
}

nav li {
  float: left;
  list-style-type: none;
}

nav li a {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: block;
  text-align: center;
  text-decoration: none;
}

nav li a:hover {
  background-color: royalblue;
  text-decoration: underline;
  text-decoration-color: skyblue;
  text-decoration-style: dotted;
}

@media screen and (min-width: 601px) {
  nav li a {
    font-size: 12pt;
    padding: 16px 24px;
  }
}

@media screen and (max-width: 600px) {
  nav li a {
    font-size: 10pt;
    padding: 12px 20px;
  }
}



/* ===[ Main body styling ]=== */

/* Add whitespace around content */
main .section, main article {
  padding: 2% 15%;
}

/* Center iframes on page */
main article iframe {
  display: block;
  margin: 0 auto;
}

main .section img {
  display: block;
  margin: 0 auto;
  width: auto;
}

main .project {
  padding: 1% 0;
}

main .rounded-profile img {
  border-radius: 50%;
  display: block;
  margin-left: auto; margin-right: auto;
  height: auto;
}

@media screen and (min-width: 601px) {
  main .rounded-profile img { max-width: 250px; }
  main .section img { max-height: 5vw; }
}

@media screen and (max-width: 600px) {
  main .rounded-profile img { max-width: 140px; }
  main .section img { max-height: 20vw; }
}



/* ===[ Footer styling ]=== */

footer {
  color: var(--secondary-color);
  font-size: 10pt;
  overflow: hidden;
  text-align: center;
}

footer ul {
  display: block;
  list-style-type: none;
}

footer ul li { background-color: var(--primary-color); }

@media screen and (min-width: 601px) {
  footer ul li {
    margin-left: 12rem; margin-right: 12rem;
  }
}

@media screen and (max-width: 600px) {
  footer ul li {
    font-size: 12pt;
    margin-left: -2rem; margin-right: 1rem;
  }
}

footer ul li a {
  color: var(--secondary-color);
  text-decoration-style: dotted;
}

footer ul li a:hover {
  color: skyblue;
  text-decoration-style: dashed;
}
