<footer>
    <div class="section">
        <a href="https://sfconservancy.org/supporter/"><img src="https://sfconservancy.org/img/supporter-badge.png" width="194" height="90" alt="Become a Conservancy Supporter!" style="border: 0"/></a>
    </div>
    <ul>
        <li><a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA 4.0</a> 2015-{{ site.year }} {{ site.title }}</li>
        <li><a href="{{ site.github_repo }}">Find this site on GitHub</a></li>
    </ul>
</footer>
