<span class="rounded-profile">
    <img src="{{ site.logo_path }}" alt="Picture of {{ site.title }}">
</span>

{% if site.hire_me %}
<div class="section" id="hireme">
    <h2>Hire me!</h2>
    <p>
        <strong>I'm currently seeking new opportunities</strong>.
        Please reach out to me if you would like me to join your organization!
        Reach out via <a href="mailto:{{ site.email }}">email</a> or <a href="https://www.linkedin.com/in/justinwflory/" target="_blank">LinkedIn</a> to get in touch.
    </p>
</div>
{% endif %}

<div class="section" id="whoami">
    {% for item in site.categories.who %}
    <h2>{{ item.title }}</h2>
    {{ item.content }}
    {% endfor %}
</div>
