---
layout: default
---

<div class="section" id="whoami">
    <h2>Who am I</h2>
    <p>
        My name is Justin W. Flory.
        I am an open source contributor and Free Software advocate based in the United States.
        I hold a Bachelor of Science in <a href="https://www.rit.edu/computing/study/computing-and-information-technologies-bs" target="_blank">Computing and Information Technologies</a> with a double-minor in <a href="https://www.rit.edu/study/free-and-open-source-software-and-free-culture-minor" target="_blank">Free and Open Source Software and Free Culture</a> and <a href="https://www.rit.edu/liberalarts/study/womens-and-gender-studies-minor" target="_blank">Women's and Gender Studies</a> from the <a href="https://www.rit.edu/" target="_blank">Rochester Institute of Technology</a>.
    </p>
</div>

<div class="section" id="projects">
    <h2>What I do</h2>
	<div id="current">
        <p>I participate in free and open source software communities since 2013.</p>

        <div class="project" id="librecorps">
            <h3>RIT LibreCorps</h3>
            <img src="https://avatars0.githubusercontent.com/u/52762233" alt="LibreCorps logo" title="LibreCorps logo" height="150px" width="auto">
            <p>
            Since 2018, I am a leading member of the <a href="https://fossrit.github.io/librecorps/" target="_blank">LibreCorps</a> program of the <a href="https://fossrit.github.io/about/" target="_blank">FOSS@MAGIC initiative</a> at the Rochester Institute of Technology.
            Through my work with LibreCorps and UNICEF, I work as a consultant on open source projects and community-building.
            RIT’s LibreCorps mentors build interactive resources for clients to build engaging communities around their projects.
            </p>
        </div>

        <div class="project" id="unicef">
            <h3>UNICEF Innovation</h3>
            <img src="img/unicef-innovation-logo.png" alt="UNICEF Office of Innovation logo" title="UNICEF Office of Innovation" height="18%" width="18%">
            <p>
                From January - May 2018, I was the first, full-time co-op placement to work exclusively on open source community for <a href="https://www.unicef.org/innovation/" target="_blank">UNICEF Office of Innovation</a>.
                I supported <a href="https://www.unicef.org/innovation/Magicbox" target="_blank">MagicBox</a>, a geospatial data project connecting unrelated datasets into actionable feedback for local governments and municipalities.
                I improved open source best practices to enable continuous integration, agile development practices, and created a 12 month open source community roadmap.
                There, I worked together with UNICEF personnel and <a href="https://www.redhat.com/en/services/consulting/open-innovation-labs" target="_blank">Red Hat Open Innovations Lab</a> on MagicBox.
                This was an engagement highlighted by Jim Whitehurst, Red Hat CEO, during his Red Hat Summit 2018 keynote.
                Since then, I led half-day workshops together with <a href="https://www.rit.edu/directory/sxjics-stephen-jacobs" target="_blank">Prof. Stephen Jacobs</a> for UNICEF’s <a href="https://unicefinnovationfund.org/" target="_blank">Innovation Fund</a> to introduce over 20 international start-up teams to the Open Source way.
            </p>
        </div>

		<div class="project" id="fedora">
			<h3>Fedora Project</h3>
			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Fedora_logo.svg/2000px-Fedora_logo.svg.png" alt="Fedora Project logo" title="Fedora Project (getfedora.org)" height="auto" width="75px">
			<p>
                I am a contributor to the <a href="https://docs.fedoraproject.org/en-US/project/" target="_blank">Fedora Project</a> since August 2015.
                Currently, I focus on community management.
                I specifically focus my time in these places:
            </p>
			<ul>
                <li><strong><a href="https://docs.fedoraproject.org/en-US/badges/" target="_blank">Badges</a></strong>: Volunteer sysadmin (<em>August 2016 – present</em>)</li>
                <li><strong><a href="https://docs.fedoraproject.org/en-US/diversity-inclusion/" target="_blank">Diversity and Inclusion Team</a></strong>: Founding member (<em>August 2016 – present</em>)</li>
                <li><strong><a href="https://fedoraproject.org/wiki/Join_the_package_collection_maintainers" target="_blank">Packager</a></strong>: brightlight, mpris-scrobbler, playerctl, zork, protonvpn-cli (<em>August 2017 – present</em>)</li>
            </ul>
            <p>In the past, I served in these positions:</p>
            <ul>
                <li><strong><a href="https://fedoraproject.org/wiki/Ambassadors" target="_blank">Ambassador</a></strong>: North America (<em>December 2016 – December 2018</em>)</li>
                <li><strong><a href="https://communityblog.fedoraproject.org/author/jflory7/" target="_blank">Community Blog</a></strong>: Editor-in-chief (<em>October 2015 – May 2019</em>)</li>
                <li><strong><a href="https://docs.fedoraproject.org/en-US/commops/" target="_blank">Community Operations</a></strong>: Founding member (<em>August 2015 – May 2019</em>)</li>
                <li><strong><a href="https://docs.fedoraproject.org/en-US/council/" target="_blank">Fedora Council</a></strong>: Elected member (<em>Fedora 26</em>)</li>
                <li><strong><a href="https://pagure.io/fedora-commops/fedora-happiness-packets" target="_blank">Fedora Happiness Packets</a></strong>: Outreachy 2019 mentor, project manager (<em>March 2019 – August 2019</em>)</li>
				<li><strong><a href="https://fedoramagazine.org/author/jflory7/" target="_blank">Fedora Magazine</a></strong>: Editor-in-chief (<em>Aug. 2016 - Oct. 2017</em>)</li>
                <li><strong><a href="https://fedoraproject.org/wiki/SIGs/Games" target="_blank">Games SIG</a></strong>: Administrator (<em>2016 – 2018</em>)</li>
                <li><strong><a href="https://docs.fedoraproject.org/en-US/mentored-projects/gsoc/2016/" target="_blank">Google Summer of Code 2016</a></strong>: Participating student (<em>May 2016 – August 2016</em>)</li>
                <li><strong><a href="https://docs.fedoraproject.org/en-US/fedora-join/" target="_blank">Join SIG</a></strong>: Administrator (<em>2016 – 2018</em>)</li>
                <li><strong><a href="https://fedoraproject.org/wiki/Marketing" target="_blank">Marketing</a></strong>: Former team lead (<em>2016 – 2018</em>)</li>
                <li><strong><a href="https://docs.fedoraproject.org/en-US/mindshare-committee/" target="_blank">Mindshare Committee</a></strong>: Founding member (<em>Fedora 27 – Fedora 28</em>)</li>
            </ul>
        </div>

        <div class="project" id="teleirc">
            <h3>TeleIRC</h3>
            <img src="https://github.com/RITlug/teleirc/raw/master/brand/png/horizontal_color.png" alt="TeleIRC logo" title="TeleIRC logo" height="auto" width="20%">
            <p>
                I participate as a maintainer and project manager of the <a href="https://github.com/RITlug/teleirc" target="_blank">TeleIRC</a> project.
                TeleIRC is a <a href="https://telegram.org/" target="_blank">Telegram</a> <=> <a href="https://en.wikipedia.org/wiki/Internet_Relay_Chat" target="_blank">IRC</a> bridge written in Go to bridge chat rooms between any IRC channel and Telegram group.
                Read through the <a href="https://blog.justinwflory.com/tag/teleirc/">progress reports</a> on my blog.
            </p>
        </div>

    </div>

</div>
